# Redis 数据库连接信息
REDIS_HOST="127.0.0.1"
REDIS_PORT="6379"
REDIS_PASSWORD="password" # 🕒 可选：如果 Redis 设置了密码，请在此处配置
REDIS_DB="0" # 🕒 可选：配置需要连接的 Redis 数据库索引号（一般为 0 到 15）

# 配置联系方式或webhook地址
PHONE_NUMBER="xxxxxxxxxxx" # 配置车主的电话号码（仅用于显示电话通知）
DINGTALK_WEBHOOK="https://oapi.dingtalk.com/robot/send?access_token=xxxxxxxxxxxxxxxxxxxx"
